body {
    background-color: #000000;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    color: #090;
}

h1, h2{
    font-weight: bold;
	color: #0f0;
}

p {
    font-size: 110%
}

a {
    color: #0f0;
	font-weight: bold;
	text-decoration: none;
}

a.link:hover {
	text-decoration: underline;
}

span {
    background-color: #FF5326;
}

.container {
    margin: auto;
    max-width: 600px;
    padding-top: 16%;
}
