body {
	font-family: Bree Serif;
	background-color: #000;
    /*background-color: #000000;*/
	/*font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;*/
    /*color: #090;*/
}

body .fullscreen-bg {
	position: fixed;
    left: 50%;
    top: 50%;
    right: 0;
    bottom: 0;
    overflow: hidden;
	z-index: -100;
}

body .fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(24vw + 48vh);
    height: auto;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url("images/RubiksCubeImage.png") center center / cover no-repeat;
		background-size: calc(24vw + 48vh);
    }

    .fullscreen-bg__video {
        display: none;
    }
}

h1 {
    font-weight: bold;
	font-size: calc(6vw + 3vh);
	color: #ccc;
}

h2 {
    font-weight: bold;
	font-size: calc(2vw + 4vh);
}

h3 {
    font-weight: bold;
	font-size: calc(1vw + 2vh);
}

p {
    font-size: 110%;
}

a {
    /*color: #0f0;*/
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color:a.color;
}

h1 a {
	color:inherit;
}

h1 a:hover {
	color:inherit;
}

span {
    background-color: #FF5326;
}

div img {
	margin: 5px;
}

div p {
	margin: 5px;
}

.table {
	background-color: #999;
	border-radius: 15px;
	box-shadow: 0px 0px 5px #999;
	-webkit-box-shadow: 0px 0px 5px #999;
	-moz-box-shadow: 0px 0px 5px #999;
	-o-box-shadow: 0px 0px 5px #999;
	margin: 15px 0px;
	padding: 15px 10px 15px 15px;
}

body .container {
    margin: auto;
	min-width: 225px;
    max-width: 75vw;
	max-height: 50vh;
    padding-top: 5vh;
}
