body {
    /*background-color: #000000;*/
	/*font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;*/
    /*color: #090;*/
}

h1, h2{
    font-weight: bold;
	/*color: #0f0;*/
}

p {
    font-size: 110%
}

a {
    /*color: #0f0;*/
	font-weight: bold;
	text-decoration: none;
}

a.link:hover {
	text-decoration: underline;
}

span {
    background-color: #FF5326;
}

div img {
	margin: 5px;
}

div p {
	margin: 5px;
}

.table {
	background-color: #999;
	border-radius: 15px;
	box-shadow: 0px 0px 5px #999;
	-webkit-box-shadow: 0px 0px 5px #999;
	-moz-box-shadow: 0px 0px 5px #999;
	-o-box-shadow: 0px 0px 5px #999;
	margin: 15px 0px;
	padding: 15px 10px 15px 15px;
}

.container {
    margin: auto;
	min-width: 225px;
    max-width: 50vw;
	max-height: 50vh;
    padding-top: 10vh;
}
